</div>

</div>

<div id="footer">
  <table style="width:50%">
    <tr>
      <th>Copyright 2018 ScyllaDB</th>
      <th><a style='text-decoration:none' href='https://twitter.com/ScyllaDB'><img src='/images/twitter.png' width=20 height=20><br>Twitter</a></th>
      <th>&nbsp&nbsp&nbsp&nbsp</th>
      <th><a style='text-decoration:none' href='https://github.com/scylladb/seastar'><img src='/images/github.png' width=20 height=20><br>GitHub</a></th>
    </tr>
    <tr>
      <td><b><p align=center><a style='text-decoration:none' href='http://www.cloudius-systems.com/privacy/'>Privacy Policy</a></td>
 </tr>
 <tr>
<td><b><p align=center><a style='text-decoration:none' href='mailto:info@scylladb.com'>info@scylladb.com</a></td>
</tr>
  </table>
</div>

</div>

</body>

</html>